uploads/
mapped_clickprofiler.xlsx
templates/index_bak.html
templates/table_bak.html
__pycache__/
.vscode/
temp/
saved/
saved_mappings.json
env/
openpv.csv
pv.csv
templates/tempCodeRunnerFile.html
templates/openpv_copy.html
templates/prevalidation.html
