:root {
    font-size: 15px;
    overflow-y: hidden;
}

.alert {
    transition: opacity 0.5s;
    z-index: 1000;
    position: absolute;
    top: 90%;
}

.alert.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Initially hide the error card */
#error-card {
    display: none;
}

.wobble {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: wobble 0.2s ease-in-out 0s 2;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes wobble {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}

u {
    text-decoration-style: dotted;
    text-underline-position: under;
}

/* .scrollable-content {
    overflow: overlay;
    scrollbar-width: none;
    max-height: 350px;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
} */

.container {
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
    padding-top: 1rem; /* Space on top */
    padding-bottom: 1rem; /* Space on bottom */
    max-width: 70rem;
    /* overflow-y: hidden; */
}

.upload-files-card,
.row-deck {
    width: 100%;
    max-width: 70%; /* You can adjust the width as needed */
}

.row-deck {
    /* margin-top: auto; Push it to the bottom */
    overflow-y: auto;
}

.box {
    display: flex;
    flex-direction: column;
}

#content {
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 0px;
    --bottom-mask-size: 0px;
}

.card-footer {
    box-shadow: 0 15px 6px -10px inset #f0f0f0;
}

/* textarea { rows: 1; } */
textarea {
    height: 0; /* This ensures the textarea starts with minimal height */
    min-height: 10px; /* Adjust this value to your desired minimal height */
    resize: vertical; /* Allow vertical resizing */
  }

table {
    margin-bottom: 0 !important;
}

#content.is-top-overflowing {
    --top-mask-size: 60px !important;
}

#content.is-bottom-overflowing {
    padding-bottom: 20px;
    --bottom-mask-size: 60px !important;
}

#deleteButton {
    /* visibility: hidden; */
    z-index: 1000;
}

.hover-card:hover #deleteButton {
    visibility: visible;
}

#deleteButton > a {
    --tblr-badge-padding-x: 1em;
    --tblr-badge-padding-y: 0.5em;
    transition: background-color 100ms linear;
}

#deleteButton > a:hover {
    --tblr-bg-opacity: 1;
    color: #fff !important;
    background-color: rgba(var(--tblr-red-rgb), var(--tblr-bg-opacity)) !important;
    text-decoration: none;
}

/* Styles for the divider container */
.hr-text {
    position: relative;
    cursor: pointer;
}

/* Styles for the content within the divider */
.divider-content {
    display: flex;
    align-items: center;
}

/* Styles for the divider text */
.divider-text {
    margin-right: 0.4rem;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for the delete icon container */
.delete-icon-container {
    width: 0;
    overflow: hidden;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for the delete icon */
.delete-icon {
    display: inline-block;
    font-size: 1.2rem;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Show the delete icon container and move the delete icon on hover */
.divider-content:hover .divider-text {
    color: transparent; /* Hide the text */
}

.divider-content:hover .divider-text {
    color: #d63939;
}

.divider-content:hover .delete-icon-container {
    width: 24px;  /* approximate width of the delete icon, you can adjust this value */
}

.divider-content:hover .delete-icon {
    transform: translateX(0);
}

.hr-text.hr-text-right:before {
    cursor: default;
}

.custom-badge {
    --tblr-badge-padding-x: 1em;
    --tblr-badge-padding-y: 0.75em;
}