<!DOCTYPE html>
<html>
<head>
    <title>Mapping Results</title>

    <script src="https://code.jquery.com/jquery.min.js"></script> <!-- JQUERY JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script> <!-- Clipboard JS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css"> <!-- Tabler UI CSS-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- Favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> <!-- Custom CSS for the table.html page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}"> <!-- Inter custom font -->
</head>
<body>
    {% if table_content %}

    <div class="container py-3">
        <div class="d-flex justify-content-end">
           <div>
                <a href="/" class="btn shadow-sm" style="margin-right:15px;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <line x1="5" y1="12" x2="11" y2="18"></line>
                        <line x1="5" y1="12" x2="11" y2="6"></line>
                    </svg>
                </a>
           </div>

            <div class="col-md-12">
                {% if mapped_fields %}

                <!--Card displaying total fields info-->
                <div class="alert alert-success shadow-sm">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="alert-title">Mapped {{ mapped_fields }} of {{ total_fields }} field(s)</span>
                        <div class="d-flex align-items-between" style="padding-top: 5px;">

                            <!-- Search box -->
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                  </span>
                                <input id="search" type="text" value="" class="form-control text-muted" placeholder="Search" aria-label="Search in website" autocomplete="off" autofocus>
                            </div>

                            <a href="#" id="copyToClipboard" class="btn btn-secondary mx-2" style="width: 170px;" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
                                        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                                    </svg>
                                </i>
                                Copy to Clipboard
                            </a>

                            <!-- Download Excel button -->
                            <a href="/download_excel" class="btn btn-primary" style="width: 170px;">
                                <i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M7 11l5 5l5 -5"></path>
                                    <path d="M12 4l0 12"></path>
                                    </svg>
                                </i>
                                Download Excel file
                            </a>
                        </div>
                    </div>

                    <!-- Display file info -->
                    <div class="text-muted d-flex justify-content-between align-items-end">
                        <div>
                            <span><b>Clickprofiler file:</b> {{ cp_file }}</span>
                            <br>
                            <span><b>Mappings file:</b> {{ map_file }}</span>
                        </div>
                        <button id="filterButton" class="btn ml-2 toggle-inactive" style="height: 25px; width: 170px; border-radius: 60px">
                            <i class="outline-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"></path>
                                 </svg>
                            </i>
                            <i class="fill-icon" style="display: none;">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M11.18 20.274l-2.18 .726v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v3"></path>
                                    <path d="M15 19l2 2l4 -4"></path>
                                 </svg>
                            </i>
                            Filter empty rows
                        </button>
                    </div>
                </div>
                {% endif %}

                <!-- Large card containing the table -->
                <div class="card shadow-sm">
                    {# {{ table_content | safe}} #}
                    <table class="table table-vcenter table-bordered">
                        <thead id="table-header">
                            <tr style="text-align: right;">
                                <th style="width: 3rem;">#</th>
                                <th>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="English Label used for the fields">
                                        <u>LABEL</u>
                                    </span>
                                </th>
                                <th>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="German description of the field">
                                        <u>GERMAN DESC</u>
                                    </span>
                                </th>
                                <th>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="German key text in the PDFs">
                                        <u>GERMAN KEY</u>
                                    </span>
                                </th>
                                <th>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="German value text in the PDFs">
                                        <u>GERMAN VALUE</u>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="inner-table" style="overflow-y: auto;">
                        <table id="data-table" class="table table-vcenter table-bordered table-striped">
                            {% for row in table_content %}
                            {% if row[2] == '-' and row[3] == '-' %}
                            <tr class="table-secondary">
                                <td style="width: 3rem;">{{ loop.index }}</td>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td style="width: 3rem;">{{ loop.index }}</td>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <!-- JS to redirect to homepage if page is refreshed -->
    <script src="{{ url_for('static', filename='js/refreshPage.js') }}"></script>

    <!-- Tabler UI JS -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>

    <!-- Custom JS for search functionality -->
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <!-- Custom JS for filtering rows -->
    <script src="{{ url_for('static', filename='js/filterNonEmpty.js') }}"></script>

    <!-- Custom JS for copying table content -->
    <script src="{{ url_for('static', filename='js/copyTable.js') }}"></script>
</body>
</html>
